* {
	margin: 0px;
	padding: 0px;
}
.error {
	width: 100%; 
	margin: 0px; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align:center;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
#forgot{
	display: none;
}
